As always, check out my <a href="https://store.steampowered.com/app/2403100/Costa_Verde_Transport_Department/">road building & traffic simulation game</a>

<center><steam-app appid="2403100"></steam-app></center><br/>

watch my devlogs about it

<center><iframe width="100%" style="aspect-ratio:16/9" src="https://www.youtube.com/embed/1UV5euaO8X0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></center>

and thanks for reading!