As always, wishlist my road building & traffic simulation game which releases in October 2023

<center><steam-app appid="2403100"></steam-app></center><br/>

watch my devlogs about it

<center><iframe width="100%" style="aspect-ratio:16/9" src="https://www.youtube.com/embed/QFkqIVRoFGY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></center>

and thanks for reading!