As always, check out my <a href="https://store.steampowered.com/app/2403100/Costa_Verde_Transport_Department/">road building & traffic simulation game</a>

<style>
  .steamapp {
    background-color: #282e39;
    padding: 10px;
    color: #8f8f8f;
    box-shadow: 5px 5px 10px #7f7f7f;
  	font-size: 24px;
  	display: inline-block;
    border-radius: 10px;
  }

  .steamapp-capsule {
  	border-radius: 10px;
  	box-shadow: 5px 5px 10px #000000;
    transition: 0.25s;
  }

  .steamapp-capsule:hover {
    margin-left: -5px;
    margin-top:  -5px;
    margin-right: 5px;
    margin-bottom: 5px;
    box-shadow: 10px 10px 10px #000000;
  }

  table, tbody, tr, td {
    border: none!important;
    background: transparent!important;
    color: inherit;
    margin: 0px;
    padding: 0px;
  }

  .steamapp-title {
    font-weight: 600;
    color: #ffffff;
    display: inline;
    transition: 0.25s;
  }

  .steamapp-title:hover {
    font-weight: 600;
    color: #ffffff;
    display: inline;
    text-shadow: 0px 0px 10px #ffffff;
  }

  .steamapp-button {
  	background-color: #6da520;
    display: inline;
    color: #d9ebba;
    padding: 15px 20px;
    margin: 20px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    transition: 0.25s;
  }

  .steamapp-button:hover {
  	background-color: #91db2b;
  	color: #ffffff;
  	text-shadow: 0px 0px 10px #ffff00;
  	box-shadow: 0px 0px 20px #91db2b;
  }

  .steamapp-link:hover {
  	text-decoration: none;
  }

  .steamapp-logo {
  	filter: brightness(0.75);
  	height: 50px;
  	transition: 0.25s;
  	border-radius: 10px;
  }

  .steamapp-logo:hover {
  	filter: brightness(1.0);
  	box-shadow: 0px 0px 20px #ffffff;
  }
</style>

<center>
<div class='steamapp'>
<table class='steamapp-table' width='100%'>
<tr>
<td rowspan="2"><a href="https://store.steampowered.com/app/2403100/Costa_Verde_Transport_Department"><img src="{{site.url}}/blog/media/costa_verde.png" class='steamapp-capsule'></a></td>
<td><a href="https://store.steampowered.com/app/2403100/Costa_Verde_Transport_Department" class='steamapp-link'><div class='steamapp-title'>Costa Verde Transport Department</div></a> on Steam</td>
</tr>
<tr>
<td><a href="https://store.steampowered.com/app/2403100/Costa_Verde_Transport_Department" class='steamapp-link'><div class='steamapp-button'>Buy on Steam</div><img src="{{site.url}}/blog/media/steam-256.png" class='steamapp-logo'></a></td>
</tr>
</table>
</div>
</center>
<br/>

watch my devlogs about it

<center><iframe width="100%" style="aspect-ratio:16/9" src="https://www.youtube.com/embed/opRZYm_L2Hs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></center>

and thanks for reading!