.steamapp {
  margin: 20px;
  padding: 10px;
/*  box-shadow: 5px 5px 10px #7f7f7f;*/
/*  font-size: 24px;*/
  display: inline-block;
  border-radius: 10px;
}

.steamapp-capsule {
	border-radius: 10px;
	box-shadow: 5px 5px 10px #000000;
  transition: 0.25s;
}

.steamapp-capsule:hover {
  margin-left: -5px;
  margin-top:  -5px;
  margin-right: 5px;
  margin-bottom: 5px;
  box-shadow: 10px 10px 10px #000000;
}

table.steamapp-table, tbody.steamapp-table, tr.steamapp-table {
  border: none;
  background: transparent;
  color: inherit;
  margin: 0px;
  padding: 0px;
}

td.steamapp-table {
  border: none!important;
  background: transparent!important;
  color: inherit;
  margin: 0px;
  padding: 5px 0px;
}

.steamapp-title {
	font-weight: 600;
  color: #ffffff;
  display: inline;
}

.steamapp-button {
	background-color: #6da520;
  display: inline;
  color: #d9ebba;
  padding: 15px 20px;
  margin: 20px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 5px;
  transition: 0.25s;
}

.steamapp-button:hover {
	background-color: #91db2b;
	color: #ffffff;
	text-shadow: 0px 0px 10px #ffff00;
	box-shadow: 0px 0px 20px #91db2b;
}

.steamapp-link:hover {
	text-decoration: none;
}

.steamapp-logo {
	filter: brightness(0.75);
	height: 50px;
	transition: 0.25s;
	border-radius: 10px;
}

.steamapp-logo:hover {
	filter: brightness(1.0);
	box-shadow: 0px 0px 20px #ffffff;
}