body {
	margin: 0px;
	background-image: url("/blog/assets/background.png");
	background-attachment: fixed;
	overflow: visible;
}

#page-content {
 	max-width: 800px;
 	margin-top: 60px;
 	margin-bottom: 60px;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
 	background-color: #eee;
 	border-radius: 20px;
 	box-shadow: 0px 0px 40px 20px #0007;
	font-family: sans-serif;
	color: #444;
	text-align: justify;
	line-height: 24px;
}

#blog-footer {
	margin: 0px;
}

.footer-link {
	font-family: monospace;
	font-size: 20px;
	color: #888;
}

.footer-link:hover {
	color: #444;
}

.footer-icon {
	width: 16px;
	height: 16px;
	opacity: 50%;
	transform: translate(0px, 4px) scale(1.5);
}

.footer-icon:hover {
	opacity: 75%;
}

.table-of-contents {
	margin: 0px;
	border: 0px;
  	border-collapse: collapse;
}

.table-of-contents td {
	vertical-align: text-top;
	padding-top: 2px;
	padding-bottom: 2px;
}

.table-of-contents tr:nth-child(even) {
	background-color: #fafafa;
}

.post-date {
	font-size: 20px;
	font-family: monospace;
	margin-right: 40px;
	color: #888;
	white-space: pre;
}

.post-link {
	font-size: 20px;
	font-family: monospace;
	color: #c60;
}

.page-title {
	font-size: 24px;
	font-family: monospace;
	font-weight: 700;
}

h1 {
	font-size: 24px;
	font-family: monospace;
	text-align: center;
	margin-top: 48px;
}

.monospace {
	font-family: monospace;
}

.project-title {
	font-size: 24px;
	font-family: monospace;
}

.project-table {
	border: 0px;
	width: 100%;
	table-layout: fixed;
	border-spacing: 0px;
}

.project-image {
	width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
    border-radius: 10px;
	box-shadow: 0px 0px 10px 0px #0007;
  	transition: 0.25s;
}

.project-image:hover {
	transform: translate(-5px, -5px);
	box-shadow: 5px 5px 10px 0px #0007;
}

.project-separator {
	width: 20px;
}

table {
  	color: inherit;
  	text-align: inherit;
  	line-height: inherit;
}

a {
	text-decoration: none;
	color: #c60;
}

a:hover {
	text-decoration: underline;
}

.youtube-embed {
	width: 640px;
	height: 360px;
	border-radius: 20px;
	margin-top: 16px;
	margin-bottom: 16px;
	box-shadow: 0px 0px 10px 0px #0007;
}

.video-embed {
	width: 640px;
	height: 360px;
	border-radius: 20px;
	margin-top: 16px;
	margin-bottom: 16px;
	box-shadow: 0px 0px 10px 0px #0007;
}

.image-embed {
	max-width: 640px;
	border-radius: 20px;
	margin-top: 16px;
	margin-bottom: 16px;
	box-shadow: 0px 0px 10px 0px #0007;
}

code {
	color: #cc5e91;
}

a code {
	color: #c60;
}

code.block {
	border-radius: 20px;
	width: 640px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 32px;
	margin-bottom: 32px;
	box-shadow: 0px 0px 10px 0px #0007;
	line-height: 16px;
}

table.data-table {
	table-layout: fixed;
	border: 1px solid #888;
	border-collapse: collapse;
	text-align: center;
	font-family: monospace;
	white-space: pre;
}

table.data-table td {
	border: 1px solid #888;
}

blockquote {
	max-width: 640px;
	border-radius: 20px;
	background-color: #fff;
	padding-top: 12px;
	padding-bottom: 12px;
	padding-left: 16px;
	padding-right: 16px;
	box-shadow: 0px 0px 10px 0px #0007;
}

audio {
	border-radius: 30px;
	box-shadow: 0px 0px 10px 0px #0007;
}

summary {
	color: #c60;
}

summary:hover {
	text-decoration: underline;
	cursor: pointer;
}

.image-compare-container {
	position: relative;
  	margin-left: auto;
  	margin-right: auto;
	margin-top: 16px;
	margin-bottom: 16px;
}

.image-compare {
	position: absolute;
	width: auto;
	height: auto;
	overflow: hidden;
}

.image-compare-left {
	z-index: 2;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}

.image-compare-right {
	z-index: 1;
	
	border-radius: 20px;
	box-shadow: 0px 0px 10px 0px #0007;
}

.image-compare img {
	display: block;
}

.image-compare-slider {
	position: absolute;
	top: 0px;
	z-index: 3;
	cursor: ew-resize;
	width: 8px;
	height: 40px;
	background-color: #777;
	opacity: 0.7;
}

::-webkit-scrollbar {
    width: 16px;
}

::-webkit-scrollbar-track {
    background: #444;
}

::-webkit-scrollbar-thumb {
    background: #666;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
    background: #a86;
}

#blog-header {
	display: grid;
	gap: 10px;
	margin-bottom: 10px;
}

.blog-link {
	font-family: monospace;
	font-size: 26px;
	font-weight: 700;
	color: #444;
}

.header-link {
	font-family: monospace;
	font-size: 20px;
	color: #888;
}

.header-description {
	display: flex;
	justify-content: space-between;
	grid-area: 2 / 1 / 2 / 3;
	padding: 10px 0;
	border-top: 1px solid #9a9a9a;
	border-bottom: 1px solid #9a9a9a;
	font-family: monospace;
	color: #888;
	white-space: pre-wrap;
}

.header-rss-link {
	font-family: monospace;
}

.blog-link {
	grid-area: 1 / 1 / 2 / 2;
}

.blog-nav {
	display: flex;
	justify-content: flex-end;
}

.blog-nav ul {
	display: flex;
	gap: 20px;
	padding: 0;
	margin: 0;
	list-style: none;
}

.connect-list {
	display: flex;
	gap: 40px;
	justify-content: center;
	list-style: none;
	padding: 0;
	margin: 0;
}

#blog-header > .header-rss-link {
	display: none;
}

@media (width <= 700px) {
	.blog-link {
		grid-area: 1 / 1 / 2 / 3;
	}

	.blog-nav {
		grid-area: 2 / 1 / 3 / 3;
		justify-content: left;
		padding-top: 10px;
		border-top: 1px solid #9a9a9a;
	}

	.blog-nav ul {
		gap: 10px 20px;
		flex-wrap: wrap;
	}

	.header-description {
		grid-area: 3 / 1 / 4 / 3;
	}

	.header-description .header-rss-link {
		display: none;
	}

	#blog-header > .header-rss-link {
		display: block;
		grid-area: 1 / 2 / 2 / 3;
		text-align: right;
	}

	.image-embed {
		max-width: 100%;
	}

	.results-table {
		display: block;
		max-width: 100%;
		overflow-x: auto;
	}

	.youtube-embed {
		width: 100%;
		height: auto;
		aspect-ratio: 16 / 9;
	}

	.MJXc-display {
		overflow: hidden;
		overflow-x: auto;
		padding-bottom: 16px !important;
	}

	.connect-list {
		gap: 20px 40px;
		flex-wrap: wrap;
	}

	code.block {
		max-width: 100%;
    box-sizing: border-box;
	}
}